.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input, button {
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}

#foodName, #daysSinceEaten{
  /* display: inline; */
}

.food{
  border: 1px solid gray;
  height: 200px;
  width: 500px;
}